<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="blue">
        <i class="material-icons">assignment</i>
      </div>
      <h4 class="card-title">Danh mục chức năng</h4>
      <div class="card-content">
        <tree-root #functionTree [nodes]="_functionTree" class="col-xs-12">
          <ng-template #treeNodeTemplate let-node let-index="index">
              <span>{{ node.data.Name }}</span>
              <button type="button" rel="tooltip" class="btn btn-simple btn-xs" data-original-title="" title="" style="padding: 0" (click)="editFunction(node.data.ID)">
                                                            <i class="material-icons">edit</i>                
                         </button>
              <button type="button" rel="tooltip" class="btn btn-simple btn-xs" data-original-title="" title="" style="padding: 0" (click)="deleteFunction(node.data.ID)">
                                                            <i class="material-icons">delete</i>                
                         </button>
          </ng-template>
        </tree-root>
      </div>
    </div>
  </div>
</div>
<style>
    node-content-wrapper{
        width: 100% !important;
    }
</style>