<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">TEDU Shop Dashboard</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <i class="material-icons">person_add</i> Đăng Ký
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black" data-image="./assets/img/login.jpeg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form (ngSubmit)="f.form.valid && login()" name="form" #f="ngForm" novalidate>
                            <div class="card card-login">
                                <div class="card-header text-center" data-background-color="rose">
                                    <h4 class="card-title">Đăng Nhập</h4>
                                    <div class="social-line">
                                        <a href="#btn" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#eugen" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="category text-center">
                                    OR
                                </p>
                                <div class="card-content" [ngClass]="{hasError: f.submitted && !username.valid}">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Tài Khoản</label>
                                            <input type="input" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
                                            <span class="material-input"></span></div>
                                        <span *ngIf="f.submitted && !username.valid" class="text-danger">Tên Đăng Nhập Bắt Buộc</span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Mật Khẩu</label>
                                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                                            <span class="material-input"></span></div>
                                        <span *ngIf="f.submitted && !password.valid" class="text-danger">Mật Khẩu Bắt Buộc</span>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg" [(disabled)]="loading">Đăng Nhập</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="https://tedu.com.vn/">
                                    Trang Chủ
                            </a>
                        </li>
                        <li>
                            <a href="http://forum.tedu.com.vn/">
                                    Diễn Đàn
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>2017
                    <a href="https://tedu.com.vn/">TEDU Software</a>
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url(./assets/img/login.jpeg) "></div>
    </div>
</div>