<div class="user">
  <div class="photo">
    <img src="../assets/img/faces/marc.jpg">
  </div>
  <div class="info">
    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                           {{user.fullName}}
                            <b class="caret"></b>
                        </a>
    <div class="collapse" id="collapseExample">
      <ul class="nav">
        <li>
          <a href="#">Thông Tin Tài Khoản</a>
        </li>
        <li>
          <a href="#">Đổi mật khẩu</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<ul class="nav">
  <li routerLinkActive="active">
    <a routerLink="/main/home/index">
                    <i class="material-icons">dashboard</i>
                    <p>Main</p>
                </a>
  </li>
  <li *ngFor="let item of functions">
    <a href="#{{item.ID | lowercase}}" data-toggle="collapse" aria-expanded="true">
      <i class="fa {{item.IconCss}}"></i>
                    <p>
                       {{item.Name}} 
                       <b *ngIf="item.ChildFunctions.length>0" class="caret"></b>
                    </p>
  </a>
    <div class="collapse" aria-expanded="true" id="{{item.ID | lowercase}}">
      <ul class="nav">
        <li *ngFor="let subItem of item.ChildFunctions" routerLinkActive="active">
          <a routerLink="{{subItem.URL}}">
                <i class="fa {{item.IconCss}}"></i> 
                <p>{{subItem.Name}}</p>    
           </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
