/* You can add global styles to this file, and also import other style files */

.loader {
    margin: 0 auto;
    width: 45px;
    height: 45px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    text-align: center;
    top: 50%;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}